<!DOCTYPE html>
<html lang="en">
<head>
    <script src="eel.js"></script>              <!-- Incluir en todas las páginas -->
    <script>
        function callPython(){
            eel.hello()
        }
/*         function callSegunda(){
            eel.segunda()
        } */
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Segunda Página</title>
</head>
<body>
    <h1>Hola</h1>
    <button onclick="callPython()">Otra vez Hola</button>
</body>
</html>